/* Oculta por padrão os botões de editar e exclur dos datagrids */
.MuiDataGrid-row button {
  visibility: hidden;
}

/* Reexibe os botões do datagrid caso o mouse esteja por sobre
   a linha */
.MuiDataGrid-row:hover button {
  visibility: visible;
}

.form-fields form {
  margin: 0 auto;
  max-width: 95%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form-fields .MuiFormControl-root {
  min-width: 250px;
  max-width: 500px;
  width: 500px;
  margin-bottom: 36px;
}